body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Fondo de perritos pequeños */
    background-image: url('https://images.unsplash.com');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: rgba(245, 235, 224, 0.9); /* Beige tierra con transparencia */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    border: 3px solid #8c7851; /* Color café tierra */
}

h1 { color: #5d4037; }

.button-group button {
    background-color: #a1887f; /* Terracota suave */
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.button-group button:hover {
    background-color: #8d6e63;
    transform: scale(1.1);
}

.mensaje-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-left: 5px solid #d7ccc8;
    border-radius: 10px;
}

.hidden { display: none; }

.btn-cerrar {
    background: none;
    border: 1px solid #8d6e63;
    color: #8d6e63;
    cursor: pointer;
    margin-top: 10px;
}
